<ul>
{%for categoryTreeByDepth in __SELF__.categoriesTreeByDepth%}
    {%for depth, categoryTree in categoryTreeByDepth%}
        {%for category in categoryTree%}
            <li>
            {%for i in 0..depth%}&nbsp;{%endfor%}
                Title: {{category.title}}
                <br/>
                    Slug: {{__SELF__.categoryPage | page({category:category.slug}) }}
                {{category.slug}}
                <br/>
                Description: {{category.description|raw}}<br>
                Image:
                {%if category.thumbnails | length > 0%}
                {%set thumbnail=category.thumbnails.0%}
                <img src="{{thumbnail.path}}">
                {%endif%}
            </li>
            <br/>
            <br/>
        {%endfor%}
    {%endfor%}
{%endfor%}
</ul>